{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="jumbotron">
        <h1>Donation Page</h1>
    </div>

    <form action="/blood_donation" method='post', class='ui form' style='width: 50%;'>
        <br>
        Name:<br>
        <input type="text" name="name" required>
        <br>
        Age:<br>
        <input type="number" name="age" required>
       
        <br>
        blood groups :<br>
        <select name="blood_groups" method="GET" action="/" checked>
            <option value="{{ blood_groups[0]}}" selected>{{ blood_groups[0]}}</option>
            {% for  blood_group in  blood_groups[1:] %}
            <option value="{{ blood_group}}">{{ blood_group}}</option>
            {% endfor %}
        </select>
        <br>
         City:<br>
        <input type="text" name="city" required>
        <br>
         Phone Number:<br>
        <input type="number" name="phone_no" required>
        <br><br>
        <input type="submit" value="Submit">
    </form>
    <div>
        <a href="/">
         <h3 class="text-center">Back</h3>
        </a>
    </div>     
</div>
{% endblock %}