{% extends "base.html" %}
{% block content %}
<div class="container">
    <form action="/home" method='post', class='ui form' style='width: 50%;'>
        <html>
            <body>
                <h2>Home page</h2>
                <a href='/blood_donation'> 
                    <h3>blood donation</h3>
                </a>
                <a href='/blood_receive'> 
                    <h3>blood receive</h3>
                </a>
            </body>
        </html>
    </form>     
</div>
{% endblock %}